
{% extends '_base.html' %}

{% block titre %} Rechercher {% endblock %}

{% block contenu %}
<div>		

	{%if resultats_messages%}
	<ul class="list-group">
  <li class="list-group-item"><h2>Messages contenant {{recherche}} :</h2></li>

	{% for message in resultats_messages  %}
		
		 <li class="list-group-item">
		 
		 <div class="media">
			  <a class="pull-left" href="{% url 'profile_view' message.utilisateur.pseudo %}">
			    <img class="media-object" src="{{ MEDIA_URL }}{{message.utilisateur.photo }}" height="60px" width="60px" alt="...">
			  </a>
 		 <div class="media-body">
 		 <h3 class="media-heading">{{message.utilisateur.nom }} <small>@{{message.utilisateur.pseudo }} {{message.date }} </small></h3>
		    {{message.contenu }}
		  </div>
		</div>
			
		</li>
		
	
		
			
	{%endfor %}
	</ul>	
	{%endif%}


	{%if not resultats_messages%}

		<ul class="list-group">
		<li class="list-group-item"><h2>Messages : </h2></li>
		<li class="list-group-item">
		Pas de resultats pour "{{recherche}}". Réessayez!
		</li>
		</ul>

	{%endif%}			
			

</div>
{%endblock%}
