
{% extends '_base.html' %}

{% block titre %} Accueil {% endblock %}



{% block autre %}

	{%if request.session.pseudo%}
		<div class="page-header">
			<img src="{{ MEDIA_URL }}{{ utilisateur.photo }}" height="90px" width="90px"/>	
			<h1>{{ utilisateur.nom }} </h1>
			<h2><small>@{{ utilisateur.pseudo }}</small></h2>
		</div>

	  <div class="btn-group">
		<a href='{% url 'profile_view' request.session.pseudo %}'class="btn btn-large btn-default">tweets <br/>{{utilisateur.message_set.count}}</a>
		<a href='{% url 'liste_abonnements' request.session.pseudo %}'class="btn btn-large btn-default">abonnements <br/>{{utilisateur.abonnements.count|add:"-1"}}</a>
		<a href='{% url 'liste_abonnes' request.session.pseudo %}'class="btn btn-large btn-default">abonnés <br/>{{utilisateur.abonnes.count}}</a>

   	</div>
		<form method="post" action="{%url 'envoyer_message'%}" role="form">
			<div class="row">
				<div class="col-lg-6">
					<div class="input-group">
						{% csrf_token %}
						<textarea placeholder="Racontez votre vie!" id="textarea-tweet" style="width:220px;" name="message" maxlength="140" class="form-control tweet-textarea" rows="4"></textarea>
						<!--<input name="message" type="textarea" id="tweet" class="form-control" maxlength="140" placeholder="Racontez votre vie!"/>-->
						<!--<span class="input-group-btn">-->
							<input type="submit" class="btn btn-primary btn-float-right" value="Envoyer"/>
						<!--</span>-->
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
		</form>  

    
		
	{% endif %}
	

{% endblock %}



{% block contenu %}

		{%if not request.session.pseudo%}
					
			<div class="register">
				{%if succes%}<div class="alert alert-success">{{succes}}</div>{%endif%}
				<div class="alert alert-info">S'enregistrer</div>
			<form  class="form-horizontal" role="form" method="post" action={% url 'enregistrement' %}>
			
				 {% for field in formEnregistrement %}
					<div class="form-group">
					
						{{ field.label_tag }}
						{% for error in field.errors %}
							<span style="color:red">{{error}}</span>
						{%endfor%}
						{{ field }}
					</div>
				{% endfor %}
				{% csrf_token %}<br/>
				<input type="submit" class="btn btn-primary" value="Enregistrement">
			</form>
			</div>

		{%endif%}
		
		
		{%if request.session.pseudo%}
		
			<ul class="list-group">
			  <li class="list-group-item"><h2>tweets</h2></li>
		
				
				
			{% for mess in message reversed  %}
			

			 <li class="list-group-item">
			 
			{%ifequal  mess.utilisateur_createur mess.utilisateur %}
			
			 <div class="media">
				  <a class="pull-left" href="{% url 'profile_view' mess.utilisateur.pseudo %}">
				    <img class="media-object" src="{{ MEDIA_URL }}{{mess.utilisateur.photo }}" height="60px" width="60px" alt="...">
				  </a>
	 		 <div class="media-body">
	 		 <h3 class="media-heading">{{mess.utilisateur.nom }} <small>@{{mess.utilisateur.pseudo }} {{mess.date }} </small></h3>
			    {{mess.contenu }}
			  </div>
			  tatzgfd
			  {% endifequal %}
			  
			  
			  {%ifnotequal  mess.utilisateur_createur mess.utilisateur %}
				Retweeté par  <a href="{% url 'profile_view' mess.utilisateur.pseudo %}">@{{mess.utilisateur.pseudo }}</a>
			 <div class="media">
				  <a class="pull-left" href="{% url 'profile_view' mess.utilisateur_createur.pseudo %}">
				    <img class="media-object" src="{{ MEDIA_URL }}{{mess.utilisateur_createur.photo }}" height="60px" width="60px" alt="...">
				  </a>
	 		 <div class="media-body">
	 		 <h3 class="media-heading">{{mess.utilisateur_createur.nom }} <small>@{{mess.utilisateur_createur.pseudo }} {{mess.date }} </small></h3>
			    {{mess.contenu }}
			  </div>
			  
			  {% endifnotequal %}
			  
			  {%ifequal mess.utilisateur.pseudo request.session.pseudo %} <a href="{% url 'supprimer' mess.id %}"><span class="glyphicon glyphicon-trash"></span>Supprimer  </a>
</a>{%endifequal%}
			  
			  {%ifnotequal mess.utilisateur.pseudo request.session.pseudo %}<a onclick="repondre('{{mess.utilisateur}}')"> <span class="glyphicon glyphicon-share-alt"></span>Répondre</a>{%endifnotequal%}
			  {%ifnotequal mess.utilisateur.pseudo request.session.pseudo %} <a href="{% url 'retweet' mess.id %}"><span class="glyphicon glyphicon-retweet"></span>Retweet  </a>
</a>{%endifnotequal%}

			</div>
			
				
			</li>
		
			<script type="text/javascript">
			function repondre(utilisateur){
				$('#textarea-tweet').text("@"+utilisateur+" ");
				$('#textarea-tweet').focus();
				}
			</script>
		
			
			{%endfor %}
			
					</li>	
	
			</ul>


		
		
		
		{%endif%}
{% endblock %}
