
{% extends '_base.html' %}

{% block titre %} Accueil {% endblock %}

{% block contenu %}
<div>
			<div class="alert alert-info"><strong>Récupérer son mot de passe</strong><br/>
			Renseignez votre adresse email, puis appuyez sur "Envoyer" pour reçevoir votre mot de passe.</div>
		<form  class="form-inline" role="form" method="post" action={% url 'recuperation_mot_de_passe' %}>
			{%if errors%}<p class="alert alert-danger">{{errors}}</p>{%endif%}
			{%if succes%}<p class="alert alert-success">{{succes}}<a href="{%url 'index' %}">. Retour à l'accueil</a></p>{%endif%}
			 {% for field in formulaire_recuperation %}
				<div class="form-group">
					
					{{ field.label_tag }}
					ticape
					{% for error in field.errors %}
						<span style="color:red">{{error}}ticape</span>
					{%endfor%}
					{{ field }}
				</div>
			{% endfor %}
			{% csrf_token %}<br/>
			<input type="submit" class="btn btn-primary" value="Envoyer">
		</form>
		</div>
{% endblock %}

