html{
background-image:linear-gradient(white, #318ACE);

}


body{
height:auto;
min-height:800px;
background-image:linear-gradient(white, #318ACE);

}

.tweet-textarea{
	width:220px;
}

.btn-float-right{
	float:right;
}

#media-heading{

    overflow: auto;
}

a:link 
{ 
 text-decoration:none; 
} 


