 html{
	height:100%;
	background-image:linear-gradient(white, #318ACE);

}


#bandeau{
	height:8%;
	background:white;
	border-radius:10px;
	display: inline-block;
    	margin: 0px auto;
	width:100%;


}

#bandeau img{
	height:50px;
	margin-left:10px;
}

#bandeau h1{
	display: inline-block;
}


#contenu{
	background:white;
	margin-top:2%;
	font-family:verdana;
	padding:20px;
	border-radius:10px;
	display: inline-block;
    	margin: 0px auto;
	width:60%;
	margin-right:10%;
        

}

#autre{

	background:white;
	margin-top:2%;
	font-family:verdana;
	padding:20px;
	border-radius:10px;
	display: inline-block;
	width:20%;
  
}


